{{> header}}
{{!--Alert  --}}
<div class="alert alert-success fade show invisible" role="alert">
  <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <strong>Cha Ching!</strong><span class="alert-msg"></span>
</div>

<!-- Jumbotron -->
<div class="jumbotron" style="padding: 0;">
    <h1>Scrape Dat News!</h1>
    <p class="lead">The new source to get news </p>
    <p><button class="btn btn-lg btn-success" id="scrape" role="button">Fetch The News</button></p>
</div>

{{!-- Content  --}}
<div class="content"></div>

<script src="js/index.js" type="text/javascript"></script>